<!doctype html>
<html>
  <head>

  </head>

  <body>
    <header>
      <nav>
      </nav>
    </header>

    <h1>
    </h1>

    <section>
      <h1>
        Poor (Wo)man's MadLibs
      </h1>
    </section>

    <section ng-app="">
      <form action="" method="post">
        <h2>Add items</h2>
        <p>
          Noun:
          <input id="nounz" type="text" name="nounz" ng-model="noun"/>
          Adjective:
          <input id="adjectivez" type="text" name="adjectivez" ng-model="adjective"/>
        </p>
      </form>
      <h3>
          My favorite {{noun}} is {{adjective}}!
      </h3>

    </section>

    <footer>
    </footer>
  </body>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="angular.min.js"></script>
  <!-- <script src="bonus.js"></script> -->
</html>
