/**********
SEAT RESERVATION BUTTONS
**********/
#seats .btn {
  width: 100px;
  height: 100px;
}


/**********
RESERVATION FORM
**********/
#reservation {
  margin-top: 100px;
  margin-bottom: 100px;


}



/**********

**********/
